/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this CSS to your styles */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  /* Full screen height */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
